// Fonts

$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$noto-serif: 'Noto Serif', serif;
$thin-weight: 100;
$light-weight: 300;
$normal-weight: 400;
$bold-weight: 700;
$ultra-bold-weight: 900;
// Media query helpers
$bp-small-width: '599px';
$bp-medium-width: '600px';
$bp-large-width: '800px';
$bp-xlarge-width: '1280px';


// Colors
$main-background: $md-clr-grey-400;
$midnight-blue: rgba(44, 62, 80, 1.0);
$pumkin: #d35400;
$pomegrante: #c0392b;
$alzarin: #e74c3c;
$nephritis: #27ae60;
$peter-river: #3498db;
$belize-hole: #2980b9;
$picton-blue: #22A7F0;

$dark-cyan: #195962;
$soft-red : #F56F6C;
$white: #FFFFFF;
$burnt-blue: #252932;
$dark-blue: #191C21;
$very-dark-blue: #091425;